.butto {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 2rem;
        display: inline-block;
        border-radius: 0.3rem;
        
        position: relative;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1rem;

        border:none;
        cursor: pointer;
        transition: all .3s linear;

        @media only screen and (max-width:$bp-medium) {
            padding: 1rem 1.8rem;
          } 
        @media only screen and (max-width:$bp-medium-2) {
            padding: .5rem 1.3rem;
          } 
        @media only screen and (max-width:$bp-small) {
            padding: .8rem 1.6rem;
          } 

       
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(#000,.2);
       &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-3px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
    }
    
    &--white {
        background-color:$color-primary;
        color:#000;
        &::after {
            background-color: $color-primary;
            color:#000;
        }
        &:hover {
            background-color: $color-primary;
            
        }
    }
    &--green {
        background-color: $color-primary;
        color:#fff;
        &::after {
            background-color: $color-primary;
        }    
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    
    }
    
    
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.butto-text {
    &:link,
    &:visited {
        font-size: 1.4rem;
        color:#000;
        display: inline-block;
        text-decoration: none;
        border-bottom: 2px solid $color-primary;
        padding: .8rem;
        transition: all .3s;
        text-transform: uppercase;
        margin-left: 1.5rem;
    }
    &:hover {
        background-color:$color-primary;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(-2px);

    }
    &:active {
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(0);

      }
   }

   .mfp-arrow {
       outline: none !important;
   }
