/* &--img {
    margin-top: 10rem;
    width: 45rem;
    height: 45rem;
    border-radius: 3px;
    box-shadow: 0 4rem 7rem rgba(#000, .20);
    overflow: hidden;
}

&--social {
    margin-top: 2rem;
    padding: 0;   
   
}
&--li {
    display: inline-block;
    padding: 0;  
    list-style:none;
}
&--icon {
    border: 1px solid #fff;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    line-height: 6rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    transition: all .4s linear;

    &--1:hover {
        background: #3b5998;
        border-color: transparent;
    }
    &--2:hover {
        background: #c32aa3;
        border-color: transparent;
    }
} */